<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <ion-list>
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Nickname" formControlName="nickname"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="primary" expand="full" type="submit" [disabled]="!registerForm.valid">Register</ion-button>
  </form>
</ion-content>