<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="confirmSignOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon name="person-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item button *ngFor="let group of groups | async" text-wrap [routerLink]="['/', 'chat', (group | async)?.id || 0]">
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3>{{ (group | async)?.title }}</h3>
        </ion-text>
        <p>{{ (group | async)?.users.length }} Users</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/chats/start">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
